In [2]:
%autosave 1

Autosaving every 1 seconds

In [3]:
import numpy as np
import random
import pandas as pd

In [4]:
np.random.seed(42)
a_data=np.random.rand(3)
a_data=a_data/sum(a_data)
A_dataframe=pd.DataFrame([a_data], columns=['a1','a2','a3'])
A_dataframe

         a1        a2        a3
0  0.182059  0.462129  0.355812

In [5]:
np.random.seed(87)
b_data=np.random.rand(2)
b_data=b_data/sum(b_data)
B_dataframe=pd.DataFrame([b_data], columns=['b1','b2'])
B_dataframe

         b1        b2
0  0.407323  0.592677

In [6]:
np.random.seed(32)
c_data=np.random.rand(2)
c_data=c_data/sum(c_data)
C_dataframe=pd.DataFrame([c_data], columns=['c1','c2'])
C_dataframe

         c1        c2
0  0.697377  0.302623

In [7]:
np.random.seed(142)
m_data=np.random.rand(12,3)
m_data=m_data/m_data.sum(axis=1)[:,None]
indexs=['a1b1c1','a1b1c2','a1b2c1','a1b2c2','a2b1c1','a2b1c2','a2b2c1','a2b2c2','a3b1c1','a3b1c2','a3b2c1','a3b2c2']
M_dataframe=pd.DataFrame(m_data, columns=['m1','m2','m3'], index=indexs)
M_dataframe

              m1        m2        m3
a1b1c1  0.426335  0.263632  0.310033
a1b1c2  0.717889  0.172372  0.109739
a1b2c1  0.485484  0.272049  0.242467
a1b2c2  0.452454  0.453544  0.094001
a2b1c1  0.109714  0.316926  0.573359
a2b1c2  0.457980  0.320803  0.221217
a2b2c1  0.370386  0.330263  0.299351
a2b2c2  0.888113  0.079472  0.032414
a3b1c1  0.334003  0.261516  0.404481
a3b1c2  0.482542  0.240220  0.277237
a3b2c1  0.363938  0.266878  0.369184
a3b2c2  0.382578  0.116492  0.500930

In [8]:
np.random.seed(98)
x_data=np.random.rand(3,2)
x_data=x_data/x_data.sum(axis=1)[:,None]
X_dataframe=pd.DataFrame(x_data, columns=['x1','x2'],index=['m1','m2','m3'] )
X_dataframe

          x1        x2
m1  0.563518  0.436482
m2  0.278445  0.721555
m3  0.807209  0.192791

In [9]:
np.random.seed(358)
y_data=np.random.rand(3,3)
y_data=y_data/y_data.sum(axis=1)[:,None]
Y_dataframe=pd.DataFrame(y_data, columns=['y1','y2','y3'], index=['m1','m2','m3'])
Y_dataframe

          y1        y2        y3
m1  0.521786  0.138564  0.339649
m2  0.327323  0.397684  0.274993
m3  0.260977  0.474105  0.264918

In [10]:
x2_y3=np.array(X_dataframe['x2']*Y_dataframe['y3']).reshape(1,3)
X2_Y3_dataframe=pd.DataFrame(x2_y3,columns=['m1','m2','m3'], index=['x2,y3'])
X2_Y3_dataframe

             m1        m2        m3
x2,y3  0.148251  0.198422  0.051074

In [11]:
a1,a2,a3=M_dataframe[0:4],M_dataframe[4:8],M_dataframe[8:12]
a1_x2_y3_data=0
for i in range (0,4):
    a1_x2_y3_data+=a1.iloc[i]*X2_Y3_dataframe*np.array(B_dataframe)[0,int(i/2)]*np.array(C_dataframe)[0,i%2]
a1_x2_y3_data

             m1        m2        m3
x2,y3  0.072851  0.057527  0.011168

In [12]:
a2_x2_y3_data=0
for i in range (0,4):
    a2_x2_y3_data+=a2.iloc[i]*X2_Y3_dataframe*np.array(B_dataframe)[0,int(i/2)]*np.array(C_dataframe)[0,i%2]
a2_x2_y3_data

           m1        m2        m3
x2,y3  0.0593  0.055623  0.016327

In [13]:
a3_x2_y3_data=0
for i in range (0,4):
    a3_x2_y3_data+=a3.iloc[i]*X2_Y3_dataframe*np.array(B_dataframe)[0,int(i/2)]*np.array(C_dataframe)[0,i%2]
a3_x2_y3_data

             m1        m2        m3
x2,y3  0.055356  0.046648  0.019996

In [14]:
print("P(a1|x2,y3)=",np.sum(np.array(a1_x2_y3_data)))
print("P(a2|x2,y3)=",np.sum(np.array(a2_x2_y3_data)))
print("P(a3|x2,y3)=",np.sum(np.array(a3_x2_y3_data)))

P(a1|x2,y3)= 0.14154702002224062
P(a2|x2,y3)= 0.1312499951270641
P(a3|x2,y3)= 0.1220004801745938